.margin-demo {
  margin: 11px 0;
}

.float-right {
  float: right;
}

.red-btn {
  height: 25px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(243, 69, 69);
}

.absolute-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10%, -50%);
}

//取消输入框外边框
input,
button {
  outline-style: none;
  border-radius: 3px;
}